@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable",
		Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a {
	text-decoration: none;
	color: inherit;
}

.nav-container {
	height: 70px;
	background-color: #efefef;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	margin-bottom: 20px;
}

.nav-container p {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 600;
}

.nav-bar a {
	text-decoration: none;
	color: white;
}

.nav-bar a:hover {
	text-decoration: none;
	color: rgb(237, 237, 237);
}

.nav-bar h2 {
	font-size: 30px;
}

.Login {
	margin: 10px;
}

.nav-right-container {
	display: flex;
	align-items: center; /* 세로 중앙 정렬 */
}

.nav-bag {
	position: relative;
}

.bag-quantity {
	position: absolute;
	right: -10px;
	top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
	background: rgb(205, 205, 205);
	border-radius: 10px;
	border: 50%;
	font-size: 12px;
	color: white;
}

/*not found*/
.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(68, 68, 68);
	min-height: 80vh;
}

.not-found h2 {
	font-size: 55px;
}

.not-found p {
	font-size: 20px;
}

.footer {
	width: 100%;
	height: 10vh;
	background-color: #111;
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
	font-size: 14px;
	font-weight: 200;
}

.products-container {
	width: 100%;
	min-height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	justify-items: center;
	padding: 10px;
}

.text {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

img {
	object-fit: cover;
	width: 150px;
	height: 150px;
	transition: all 0.3 ease;
}

.item-card {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 15px;
	/* border: #c5c5c5 1px solid; */
	border-radius: 30px;
	padding: 15px;
	transition: all 0.3s ease;
}

.item-card:hover {
	color: #e1e1e1;
	cursor: pointer;
}

.item-card-description {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.product-link {
	text-decoration: none; /* 링크의 기본 밑줄 제거 */
	color: inherit; /* 상위 요소로부터 색상 상속 */
}

.products-container {
	text-align: center;
}

.product-link h6,
.product-link h5 {
	text-align: center;
	margin-top: 10px;
	color: inherit; /* 링크 색상 상속 */
	text-decoration: none; /* 밑줄 제거 */
}

.button-container {
	display: flex;
	justify-content: center;
}

/* CSS */
.button-57 {
	position: relative;
	overflow: hidden;
	border: 1px solid #18181a;
	color: #18181a;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 18px 18px 17px;
	text-decoration: none;
	cursor: pointer;
	background: #fff;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 5px;
}

.button-57 span:first-child {
	position: relative;
	transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 10;
}

.button-57 span:last-child {
	color: white;
	display: block;
	position: absolute;
	bottom: 0;
	transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 100;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translateY(225%) translateX(-50%);
	height: 14px;
	line-height: 13px;
}

.button-57:after {
	content: "";
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform-origin: bottom center;
	transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
	transform: skewY(9.3deg) scaleY(0);
	z-index: 50;
}

.button-57:hover:after {
	transform-origin: bottom center;
	transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
	transform: translateX(-50%) translateY(-100%);
	opacity: 1;
	transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
